<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/customers/layout/layout :: layout(~{::title}, ~{::#slider}, ~{::main})}">

<head th:replace="customers/fragments/head :: head">
  <title>Sản phẩm</title>
</head>

<body>

<div id="slider">
    <div class="page_h">
    </div>
</div>
  <!--Background-->

<main>
  <div class="container-fluid my-4">
    <div class="fs-3 fw-bold text-center">
      SẢN PHẨM
    </div>
    <hr class="text-black-50">
    <div>
      <label class="fw-bold pe-4" for="">Sản phẩm</label>
      <select name="" id="" class="w-25">
        <option value="">Mới nhất</option>
        <option value="">sdf</option>
        <option value="">sdf</option>
      </select>
    </div>
    <hr class="text-black-50">

    <div class="row my-4">
      <div class="col-md-3 box h-100 mb-5">
        <a th:href="@{san-pham-chi-tiet}" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>

      <div class="col-md-3 box h-100 mb-5">
        <a href="#" class="product-title">
          <div class="carousel-img w-100 h-100">
            <img th:src="@{/layout/images/that-lung-dau-kim-tl167-34997-p.jpg}" alt="" class="w-100 h-auto">
          </div>
          <div class="mt-3 fs-5"> Thắt Lưng Đầu Kim TL167</div>
        </a>
        <div class="fw-bold">
          <span class="ps-1">275.000₫</span>
        </div>
        <div class="add-product">
          <a href="" class="btn btn-add">THÊM VÀO GIỎ HÀNG</a>
        </div>
      </div>
    </div>
  </div>
  <!--product end-->
</main>
<!--main end-->

<div th:replace="customers/fragments/footer :: footer"></div>
<!--footer end-->

<div th:replace="customers/fragments/script :: script"></div>
</body>

</html>