<!DOCTYPE html>
<html lang="en">

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quản lý tài khoản</title>

    <div th:replace="admin/fragments/head :: head"></div>
</head>

<body >

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="admin/fragments/navigation :: navigation"></div>

        <div th:replace="admin/fragments/sidebar :: sidebar"></div>
        <!-- /.sidebar -->

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="col-lg-12 mt-5">
                    <div class="panel panel-default">
                        <div class="panel-heading ">
                            <div class="row">
                                <div class="font col-md-10">
                                    Danh sách tài khoản
                                </div>
                                <div class="col-md-2 mt-1">
                                    <a th:href="@{/admin/add-user}" class="btn btn-success" id="btn-addUser">Thêm tài
                                        khoản</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper"
                                    class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_length" id="dataTables-example_length"><label>Show
                                                    <select name="dataTables-example_length"
                                                        aria-controls="dataTables-example"
                                                        class="form-control input-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> entries</label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="dataTables-example_filter" class="dataTables_filter">
                                                <label>Tìm kiếm:
                                                    <input type="search" class="form-control input-sm"
                                                        placeholder="Search..." aria-controls="dataTables-example"
                                                        id="search">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table
                                                class="table table-striped table-bordered table-hover dataTable no-footer"
                                                id="dataTables" role="grid" aria-describedby="dataTables-example_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th style="width: 30px;">STT</th>
                                                        <th style="width: 147.333px;">Họ và tên</th>
                                                        <th style="width: 130px;">Tài khoản</th>
                                                        <th style="width: 50px;">Giới tính</th>
                                                        <th style="width: 126.333px;">Email</th>
                                                        <th style="width: 91px;">Số điện thoại</th>
                                                        <th style="width: 110px;">Địa chỉ</th>
                                                        <th style="width: 91px;">Ngày sinh</th>
                                                        <th style="width: 91px;">Trạng thái</th>
                                                        <th style="width: 120px;">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="userBody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="dataTables_info" id="dataTables-example_info" role="status"
                                                aria-live="polite">Showing 51 to 57 of 57 entries</div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="dataTables-example_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button previous"
                                                        id="dataTables-example_previous"><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="0"
                                                            tabindex="0">Previous</a></li>
                                                    <li class="paginate_button "><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="1"
                                                            tabindex="0">1</a></li>
                                                    <li class="paginate_button "><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="2"
                                                            tabindex="0">2</a></li>
                                                    <li class="paginate_button "><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="3"
                                                            tabindex="0">3</a></li>
                                                    <li class="paginate_button "><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="4"
                                                            tabindex="0">4</a></li>
                                                    <li class="paginate_button "><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="5"
                                                            tabindex="0">5</a></li>
                                                    <li class="paginate_button active"><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="6"
                                                            tabindex="0">6</a></li>
                                                    <li class="paginate_button next disabled"
                                                        id="dataTables-example_next"><a href="#"
                                                            aria-controls="dataTables-example" data-dt-idx="7"
                                                            tabindex="0">Next</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <div th:replace="admin/fragments/jquery :: jquery"></div>

    <!--    api-->
    <script th:src="@{/admin/js/user-index.js}"></script>
</body>

</html>