<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/customers/layout/layout :: layout(~{::title}, ~{::#slider}, ~{::main})}">

<head>
    <title>Quên mật khẩu</title>
</head>

<body>

    <div th:replace="customers/fragments/navigation :: navigation"></div>
    <!--Navigation end-->

    <!-- Carousel -->
    <div id="slider">
    </div>

    <!-- Carousel -->

    <main>
        <div class="container d-flex justify-content-center align-items-center full-height">
            <div class="col-5 my-5 px-5">
                <div class="w-100 text-center">
                    <h2 class="fw-bold">QUÊN MẬT KHẨU</h2>
                </div>
                <form id="forget_form">
                    <div class="mb-1 mt-3">
                        <input type="text" id="username" autofocus class="form-control" placeholder="Tài khoản của bạn">
                        <p id="usernameText" class="text-danger"></p>
                    </div>
                    <button class="w-100 p-2 mt-3 bt-login" type="submit" onclick="validate()">KIỂM
                        TRA</button>
                    <div class="d-flex justify-content-between mt-3 ">
                        <a th:href="@{dang-ky}" class="fw-bold color-font">Đăng ký mới</a>
                        <a th:href="@{dang-nhap}" class="fw-bold color-font">Đăng nhập</a>
                    </div>
                </form>
            </div>
        </div>

        <!-- The Modal -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Nhập mã xác minh</h4>
                        <button type="button" class="btn-close" id="modal_close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="passwordChange_form">
                            <div class="mb-1 mt-3">
                                <input type="text" id="validateCode" class="form-control" onblur="validationCode()"
                                    placeholder="Mã xác minh của bạn">
                                <p id="codeText" class="text-danger"></p>

                                <input type="password" id="validatePassword11" class="form-control"
                                    onblur="validatePassword()" placeholder="Mật khẩu mới">
                                <p id="passwordText11" class="text-danger"></p>

                                <input type="password" id="validatePassword211" class="form-control"
                                    onblur="validatePassword2()" placeholder="Nhận lại mật khẩu">
                                <p id="passwordText211" class="text-danger"></p>
                            </div>
                            <button class="w-100 p-2 mt-3 bt-login" onclick="passwordChange()">XÁC
                                NHẬN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script>
            let checkUsernameAPI = "/4men/admin/api/users/check/username";
            var putApi = "/4men/admin/api/users/change-password/";

            var random;
            let username;

            var textUsername;
            var textEmail;
            var textValidateCode;
            var textValidatePassword;
            var textValidatePassword2;
            let emailPattern = /^\w+@\w+(\.\w{2,4}){1,2}$/;

            function validate() {
                $("#forget_form").submit((event) => {
                    event.preventDefault();

                    if (ValidateForm()) {
                    }
                    else
                        console.log("error: bị lỗi");
                })
            }

            function ValidateForm() {
                username = $("#username").val();

                if (username === '') {
                    textUsername = "Vui lòng nhập tài khoản";
                }
                else if (username) {
                    {
                        $.ajax({
                            url: checkUsernameAPI,
                            method: 'GET',
                            dataType: 'json',
                            contentType: "application/json",
                            data: { username: username },
                            success: function (response) {
                                let result = response.success;
                                if (result) {
                                    textUsername = '';
                                    send_mail(response.data.email);
                                    // window.location.href = "/4men/send-mail";
                                }
                                else
                                    textUsername = 'Tài khoản này không tồn tại';
                            },
                            error: function (e) {
                                console.log("error: ", e);
                            }
                        })
                    }
                }
                $("#usernameText").html(textUsername);
                return textUsername === '';
            }

            function send_mail(email) {

                if (emailPattern.test(email)) {
                    random = generateRandomString();
                    let emails = {
                        toEmail: email,
                        subject: "Gửi mã xác nhận mật khẩu 4men",
                        body: "Mã xác nhật mật khẩu của bạn là: " + random
                    };

                    $.ajax({
                        url: "/4men/api/email",
                        method: "POST",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(emails),
                        success: function (response) {
                            // swal("Thêm người dùng thành công", "", "success");
                            // $("#form_create_user")[0].reset();
                            $("#myModal").modal("show");
                        },
                        error: function (e) {
                            // swal("Thêm người dùng thất bại", "", "error");
                            console.log("error: ", e);
                        }
                    })
                }
                else
                    swal("Gửi email thất bại", "", "error");
            }

            function validationCode() {
                var validateCode = $("#validateCode").val();

                if (validateCode === "") {
                    textValidateCode = "Vui lòng nhập mã xác nhận";
                }
                else if (validateCode !== random) {
                    textValidateCode = "Mã xác nhận không đúng";
                }
                else
                    textValidateCode = "";

                $("#codeText").html(textValidateCode);
                return textValidateCode === "";
            }

            function validatePassword() {
                var validatePassword = $("#validatePassword11").val();

                if (validatePassword === "") {
                    textValidatePassword = "Vui lòng nhập mật khẩu mới";
                }
                else if (validatePassword.length < 6) {
                    textValidatePassword = "Mật khẩu phải ít nhất 6 ký tự";
                }
                else
                    textValidatePassword = "";

                $("#passwordText11").html(textValidatePassword);
                return textValidatePassword === "";
            }

            function validatePassword2() {
                var validatePassword2 = $("#validatePassword211").val();
                var validatePassword = $("#validatePassword11").val();

                if (validatePassword2 === "") {
                    textValidatePassword2 = "Mật khẩu xác nhận không được để trống";
                }
                else if (validatePassword !== validatePassword2) {
                    textValidatePassword2 = "Mật khẩu không trùng khớp";
                }
                else
                    textValidatePassword2 = "";

                $("#passwordText211").html(textValidatePassword2);
                return textValidatePassword2 === "";
            }

            function generateRandomString() {
                const chars = "0123456789";
                let randomString = "";
                for (let i = 0; i < 6; i++) {
                    const randomIndex = Math.floor(Math.random() * chars.length);
                    randomString += chars[randomIndex];
                }
                return randomString;
            }

            function passwordChange() {
                $("#passwordChange_form").submit((event) => {
                    event.preventDefault();

                    if (validationCode() && validatePassword() && validatePassword2()) {

                        // let username = localStorage.getItem("username");
                        let password = $("#validatePassword211").val();


                        $.ajax({
                            url: putApi + username + "/" + password,
                            method: "PUT",
                            success: function () {
                                $("#modal_close").click();
                                swal("Đổi mật khẩu thành công", "", "success");
                                // window.location.href = "/4men/dang-nhap";
                            },
                            error: function (e) {
                                swal("Đổi mật khẩu thất bại", "", "error");
                            }
                        })
                    }
                    else
                        console.log("error: bị lỗi");
                })
            }
        </script>
    </main>
    <!--main end-->

</body>

</html>