<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/customers/layout/layout :: layout(~{::title}, ~{::#slider}, ~{::main})}">

<head>
    <title>Đăng nhập</title>
</head>

<body>

    <div th:replace="customers/fragments/navigation :: navigation"></div>
    <!--Navigation end-->

    <!-- Carousel -->
    <div id="slider">
    </div>

    <!-- Carousel -->

    <main>
        <div class="container d-flex justify-content-center align-items-center full-height">
            <div class="col-5 my-5 px-5">
                <div class="w-100 text-center">
                    <h2 class="fw-bold">Đăng nhập</h2>
                </div>

                <form id="loginForm" th:action="@{/dang-nhap}" method="post">
                    <div class="mb-1 mt-3">
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Tài khoản của bạn" onblur="loginValidationEmail()" required>
                        <p class="text-danger" id="textEmail"></p>
                    </div>
                    <div class="mb-1 mt-3">
                        <input type="password" class="form-control" id="password" name="password"
                            onblur="loginValidationPassword()" placeholder="Mật khẩu của bạn" required>
                        <p class="text-danger" id="textPassword"></p>
                    </div>
                    <button class="w-100 p-2 mt-3 bt-login">ĐĂNG NHẬP</button>
                    <div class="d-flex justify-content-between mt-3 ">
                        <a th:href="@{dang-ky}" class="fw-bold color-font">Đăng ký mới</a>
                        <a th:href="@{quen-mat-khau}" class="fw-bold color-font">Quên mật khẩu</a>
                    </div>
                </form>
            </div>
        </div>

        <!--validation-->
        <!-- <script th:src="@{/layout/js/login.js}"></script> -->

        <script>
            var urlLogin = "/4men/api/auth/login";
            var urlHome = "/4men/trang-chu";

            // let emailPattern = /^\w+@\w+(\.\w{2,4}){1,2}$/;
            var textEmail;
            var textPassword;
            var email;
            var password;


            $(document).ready(function () {
                $("#loginForm").submit(function (event) {
                    event.preventDefault();

                    if (loginValidationEmail() && loginValidationPassword()) {
                        var username = $('#username').val();
                        var password = $('#password').val();

                        $.ajax({
                            url: urlLogin,
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify({
                                username: username,
                                password: password
                            }),
                            success: function (response) {
                                var token = response.data.token;
                                localStorage.setItem("token", token);
                                // swal("Đăng nhập thành công!", {
                                //     icon: "success",
                                // });
                                window.location.href = urlHome;
                                // console.log("token: ", getToken());
                            },
                            error: function () {
                                swal("Tài khoản hoặc mật khẩu không đúng!", {
                                    icon: "error",
                                });
                            }
                        })
                    }
                })
            });

            function loginValidationEmail() {
                email = document.querySelector("#username").value;
                if (email === "") {
                    textEmail = "Vui lòng nhập tài khoản";
                }
                // else if(!emailPattern.test(email)){
                //     textEmail = "Email không hợp lệ";
                // }
                else
                    textEmail = "";
                document.querySelector("#textEmail").innerHTML = textEmail;
                return textEmail === "";    // Trả về true nếu textEmail = ""
            }

            function loginValidationPassword() {
                password = document.querySelector("#password").value;
                if (password === "") {
                    textPassword = "Vui lòng nhập mật khẩu";
                }
                else if (password.length < 5)
                    textPassword = "Mật khẩu phải có ít nhất 5 ký tự";
                else
                    textPassword = "";
                document.querySelector("#textPassword").innerHTML = textPassword;
                return textPassword === "";     // Trả về true nếu textPassword = ""
            }
        </script>
    </main>
    <!--main end-->
</body>

</html>