<div th:fragment="footer">
    <div class="footer"></div>
    <footer class="bg-dark">
        <div class="container text-white">
            <div class="row  py-4  ">
                <div class="col-md-3">
                    <h6>VĂN PHÒNG GIAO DỊCH</h6>
                    <ul class="list-menu px-0">
                        <li class="li_menu"><a class="text-decoration" href="" title="Trang chủ">Trang
                            chủ</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tin mới nhất">Tin mới nhất</a>
                        </li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Câu hỏi thường gặp">Câu hỏi thường
                            gặp</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Liên hệ">Liên
                            hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h6>VỀ CHÚNG TÔI</h6>
                    <ul class="list-menu px-0">
                        <li class="li_menu"><a class="text-decoration" href="" title="Trang chủ">Trang
                            chủ</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tin mới nhất">Tin mới nhất</a>
                        </li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Câu hỏi thường gặp">Câu hỏi thường
                            gặp</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Liên hệ">Liên
                            hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h6>CHÍNH SÁCH BÁN HÀNG</h6>
                    <ul class="list-menu px-0">
                        <li class="li_menu"><a class="text-decoration" href="" title="Trang chủ">Trang
                            chủ</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tin mới nhất">Tin mới nhất</a>
                        </li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Câu hỏi thường gặp">Câu hỏi thường
                            gặp</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Liên hệ">Liên
                            hệ</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h6>THEO DÕI CHÚNG TÔI</h6>
                    <ul class="list-menu px-0">
                        <li class="li_menu"><a class="text-decoration" href="" title="Trang chủ">Trang
                            chủ</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tin mới nhất">Tin mới nhất</a>
                        </li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Câu hỏi thường gặp">Câu hỏi thường
                            gặp</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a class="text-decoration" href="" title="Liên hệ">Liên
                            hệ</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row py-2">
                <div class="col-md-6 ">
                    <h6>THIÊN ĐƯỜNG MUA SẮM 4 MEN</h6>
                    <div class="line-heigh-3">
                        <p class=" text-color">Copyright@ 2021 Công ty cổ phần thương mại 1 thành viên</p>
                        <p class=" text-color">Chứng nhận ĐKKD số: 0388282938 do sở KH & ĐT TP.Hà Nội cấp</p>
                        <p class=" text-color">Địa chỉ: Tòa nhà Ladeco 266 Đội Cấn, Ba Đình, Hà Nội</p>
                        <p class=" text-color">Điện thoại: 19006750 - Email: support@sapo.vn</p>
                    </div>

                </div>
                <div class="col-md-6  ">
                    <h6>NHẬN TIN KHUYẾN MÃI</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nhập email của bạn"
                               aria-label="Nhập email của bạn" aria-describedby="basic-addon2">
                        <span class="input-group-text bg-danger text-white" id="basic-addon2">Đăng ký</span>
                    </div>
                    <div class="box-icon">
                        <span class="box50 bg-white text-info twitter fs-2"><i class='bx bxl-twitter'></i></span>
                        <span class="box50 bg-white text-danger google fs-2"><i class='bx bxl-google'></i></span>
                        <span class="box50 bg-white text-danger youtube fs-2"><i class='bx bxl-youtube'></i></span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row py-2 pb-4">
                <div class="col-md-6 fw-light">
                    Bản quyền thuộc về Ego Creative Cung cấp bởi Sapo
                </div>
                <div class="col-md-6 text-end d-nones">
                    <!-- Trang chủ  Giới thiệu  Sản phẩm  Tin mới nhất Câu hỏi thường gặp -->
                    <span class="px-1">Trang chủ</span>
                    <span class="px-1">Giới thiệu</span>
                    <span class="px-1">Sản phẩm</span>
                    <span class="px-1">Tin mới nhất</span>
                    <span>Câu hỏi thường gặp</span>
                </div>
            </div>
        </div>
    </footer>
</div>