<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/layout/css/boostap.min.css}">
  <link rel="stylesheet" th:href="@{/layout/css/index.css}">

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- Owl Stylesheets -->
  <link rel="stylesheet" th:href="@{/assets/owlcarousel/assets/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/assets/owlcarousel/assets/owl.theme.default.min.css}">

  <!-- javascript -->
  <script th:src="@{/assets/vendors/jquery.min.js}"></script>
  <script th:src="@{/assets/owlcarousel/owl.carousel.js}"></script>

  <!--sweetalert-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</th:block>