

<div th:fragment="script">
    <script th:src="@{/layout/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/layout/js/index.js}"></script>

    <!-- vendors -->
    <script th:src="@{/assets/vendors/highlight.js}"></script>
    <script th:src="@{/assets/js/app.js}"></script>

    <!-- jQuery -->
    <script th:src="@{/admin/js/jquery.min.js}"></script>

    <script th:src="@{/assets/owlcarousel/owl.carousel.min.js}"></script>

    <script>
        var checkToken;
        var checkRole;
        // var myInformation;

        function getToken() {
            return localStorage.getItem('token');
        }

        var token = getToken();
        $(document).ready(function () {

            // check token
            checkToken();
            if (checkToken)
                getMyInfor();

            // load user icon
            setTimeout(loadUserIcon, 1000);

            var owl = $('.owl-carousel');
            owl.owlCarousel({
                items: 4,
                loop: true,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 3000,
                autoplayHoverPause: true
            });
        })

        function checkToken() {
            // $("#logoutss").submit((event) => {
            // event.preventDefault();
            $.ajax({
                url: "/4men/api/auth/introspect",
                method: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ token: token }),
                // headers: {
                //     'Authorization': 'Bearer ' + token
                // },
                success: function (response) {
                    checkToken = response.data.valid;
                },
                error: function () {
                    swal("Kiểm tra token thất bại!", {
                        icon: "error",
                    });
                }
            })
            // })
        }

        function getMyInfor() {
            // $("#logoutss").submit((event) => {
            event.preventDefault();
            $.ajax({
                url: "/4men/api/auth/my-information",
                method: "GET",
                contentType: "application/json",
                dataType: "json",
                // data: JSON.stringify({ token: token }),
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (response) {
                    console.log(response)
                    checkRole = response.data.roles[0].name;
                    // myInformation.response.data;
                    // checkToken = response.data.valid;
                },
                error: function () {
                    // swal("Kiểm tra token thất bại!", {
                    //     icon: "error",
                    // });
                    console.log("check token fail")
                }
            })
            // })
        }

        // load user_icon
        function loadUserIcon() {
            let row = '';
            if (token !== "") {
                if (checkRole === "ADMIN") {
                    row += `<li><a class="dropdown-item" href="/4men/admin/home">Trang quản trị</a></li>`;
                }

                row += `
                                <li><a class="dropdown-item" href="/4men/thong-tin-ca-nhan">Thông tin cá nhân</a></li>
                                <li><form id="logoutss">
                                        <button onclick="checkLogout()">Đăng xuất</button>
                                     </form>
                                </li>
                                    `;

            }
            else {
                row += `
                <li><a class="dropdown-item" href="/4men/dang-nhap">Đăng nhập</a></li>
                `;
            }
            $("#user_icon").html(row);
        }

        function checkLogout() {
            // $("#logoutss").submit((event) => {
            event.preventDefault();
            $.ajax({
                url: "/4men/api/auth/logout",
                method: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({ token: token }),
                headers: {
                    'Authorization': 'Bearer ' + token
                },
                success: function (response) {
                    localStorage.setItem("token", "");
                    window.location.href = "/4men/dang-nhap";
                },
                error: function () {
                    swal("Đăng xuất thất bại!", {
                        icon: "error",
                    });
                }
            })
            // })
        }

        function redirectAdmin() {
            sendToken("/4men/admin/home")
        }

        function sendToken(urls) {
            var token = localStorage.getItem('token');
            if (!token) {
                // Nếu không có token, chuyển hướng về trang đăng nhập
                window.location.href = '/4men/dang-nhap';
            } else {
                $.ajax({
                    url: urls,
                    method: 'GET',
                    contentType: "application/json",
                    headers: {
                        'Authorization': 'Bearer ' + token
                    },
                    success: function (response) {
                        // sessionStorage.setItem('token', token);
                        // Chuyển hướng tới trang admin
                        window.location.href = "/4men/admin/home";



                        // console.log(response.url);
                        // window.location.href = response.url;
                        // document.write(response);
                        // document.close();
                        // $('#content').html(response);
                        // var rs = response.data.valid;
                        // if (rs) {
                        //     // Nếu người dùng có quyền admin, cho phép truy cập
                        //     window.location.href = '/4men/admin/home';
                        //     // console.log("thành công")
                        // } else {
                        //     // Nếu không, chuyển hướng về trang không có quyền
                        //     window.location.href = '/4men/trang-chu';
                        //     // console.log("sai")
                        // }
                    },
                    error: function (xhr, status, error) {
                        console.log('Token verification error: ' + error);
                        // Chuyển hướng về trang đăng nhập nếu token không hợp lệ
                        window.location.href = '/4men/dang-nhap';
                        // console.log("lỗi")
                    }
                });
            }
        }
    </script>
</div>