<aside class="sidebar navbar-default" role="navigation" th:fragment="sidebar">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a th:href="@{/admin/home}" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a th:href="@{/trang-chu}"><i class="fa fa-home fa-fw"></i> Trang chủ</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-align-justify fa-fw"></i> Quản lý danh mục<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" onclick="loadPage('/4men/admin/users', 'GET')">Quản lý tài khoản</a>
                    </li>
                    <li>
                        <a href="#" onclick="loadPage('/4men/admin/products', 'GET')">Quản lý sản phẩm</a>
                    </li>
                    <li>
                        <a href="#" onclick="loadPage('/4men/admin/banner', 'GET')">Quản lý banner</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Biểu đồ</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-database fa-fw"></i> Thống kê<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" onclick="loadPage('/4men/admin/revenues', 'GET')">Doanh thu</a>
                    </li>
                    <li>
                        <a href="#" onclick="loadPage('/4men/admin/quantities', 'GET')">Số lượng sản phẩm</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
</aside>